@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Teko:wght@500&display=swap');
:root {
    --main-bg: #030405;
    --medium-bg: #05080D;
    --text: #FCFCFC;
    --secondary-bg: #090F14;
    --highlight-pure: hsl(13, 60%, 47%);
    --highlight: hsl(13, 50%, 47%);
    --secondary-color-pure: #30bfa7;
    --secondary-color-dark: hsl(171, 59%, 5%);
    --border: var(--secondary-bg);
}

body {
    background-color: #030405;
    color: #FCFCFC;
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
}

.flex {
    display: flex;
}

.flex-space {
    justify-content: space-between;
}

.flex-gap {
    gap: 0.5rem;
}

.flex-gap-big {
    gap: 3rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-align-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.highlight-text {
    color: var(--highlight);
}

.bg-medium {
    background-color: var(--medium-bg);
}

.bg-secondary-color {
    background-color: var(--secondary-color-dark);
}

.container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.full {
    width: 100vw;
    height: 100vh;
}

a {
    color: var(--highlight);
    text-decoration: none;
}

.h-10 {
    height: 10rem;
}

button {
    color: var(--text);
    background-color: var(--highlight);
    border-color: var(--border);
    border-width: 2px;
    border-style: solid;
    font-size: 1.2rem;
    border-radius: 0.2rem;
}

input[type=text] {
    color: var(--text);
    background-color: var(--secondary-bg);
    border-color: var(--border);
    border-width: 2px;
    border-style: solid;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    outline: none;
}

input[type=text]:focus {
    border-color: var(--border);
    border-width: 2px;
    border-style: solid;
    color: var(--highlight);
}

.flex-break {
    flex-wrap: wrap;
}

.mr-0-5rem {
    margin-right: 0.5rem;
}

.scrollbar-x {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--highlight);
    border-radius: 0.5em;
}

.pt-3rem {
    padding-top: 3rem;
}

.acrylic {
    backdrop-filter: blur(10px) saturate(80%);
    -webkit-backdrop-filter: blur(10px) saturate(80%);
}

table {
    border-color: var(--border);
    border-radius: 0.2rem;
    border-width: 4px;
    border-style: solid;
    border-collapse: collapse;
}

tr {
    border-bottom-color: var(--border);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

th {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    border-color: var(--border);
    border-style: none solid none solid;
    border-width: 2px;
}

.mx-1rem {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.disabled-link {
    pointer-events: none;
    color: gray !important;
    /*TODO : FIND ANOTHER COLOR*/
}

.disabled-link>* {
    pointer-events: none;
    color: inherit !important;
    /*TODO : FIND ANOTHER COLOR*/
}

.hero-force {
    width: 100%;
    height: 75vh;
    max-width: 100%;
}

.hero * h1 {
    font-size: 4rem;
    color: var(--secondary-color-pure);
    font-family: 'Teko', sans-serif;
}

.hero * p {
    font-size: 2rem;
}

.hero>section {
    width: 30%;
}

.hero>img {
    width: 60%;
}

.bg-cover {
    background-size: cover;
}

.mc-bg {
    background-image: url('/img/display.png');
}